@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --background: #ffffff;
    --border: #505050;
    --usertext:#7e7e7e;
    --usericon:#bbb;
    --messageText:whitesmoke;
    --messagebackground:#ffffff;
    --shadow:#dcdcdc;
    --msgbox:#8995fa;
}
body{
   font-family: 'Open Sans', sans-serif;
   display: grid;
   place-items: center;
   background-color: var(--background)
}
.title{
    margin: 20px 0;
}
.main{
    border: 4px solid var(--msgbox);
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0;
}
.name{
    display: flex;
    font-size: 32px;
    font-weight: 700;
    padding: 8px 16px;
    color:var(--usertext);
    background-color: var(--background);
}
.name > span {
    color:var(--msgbox) ;
}
.name-input{
    font-size: 24px;
    font-weight: 700;
    color:var(--usertext);
    border: none;
    margin: 0 12px;
    outline: none;
    background-color: var(--background);
}
.message-container{
    display: flex;
    flex-direction: column;
    background-color: var(--messageText);
    width: 400px;
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden ;
}
.message-right, .message-left{
    list-style-type: none;
    padding: 8px 12px;
    margin: 12px;
    max-width: 250px;
    font-size: 18px;
    word-wrap: break-word;
}
.message-left{
    border-radius: 10px 10px 10px 0px;
    align-self: flex-start;
    background-color: var(--messagebackground);
    box-shadow: -2px 2px 1px var(--shadow);
}
.message-right{
    border-radius: 10px 10px 0px 10px;
    align-self: flex-end;
    background-color: var(--msgbox);
    box-shadow: 2px 2px 1px var(--shadow);
    color: var(--messageText);
}
.message-left > p > span, .message-right > p > span{
    display: block;
    font-style: italic;
    font-size: 12px;
    margin-top: 4px;
}
.feedback{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    padding: 0px 16px 16px 16px;
    color: var(--msgbox);
}
.message-form{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.message-input{
    flex-grow: 1;
    height: 48px;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 0 12px;
    background-color: var(--messagebackground);
}

.send-button{
    height: 48px;
    font-size: 16px;
    border: none;
    padding: 0 20px;
    outline: none;
    background-color: var(--messagebackground);
}
.v-divider{
    height: 48px;
    width: 2px;
    background-color: var(--messageText);
}

.clients-total{
    margin: 20px 0 ;
    color: var(--usertext);
}